/*Variables for color */
:root {
  --appbg:  #afeffa;
  --textall: lavender;
  --tbborder: white;
  --hoverbg: #333535; 
  --tbbg:  #000;
}

body {
  background-image: url('../images/snowflake5.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: var(--appbg);
}

.content {
  background: var(--tbbg);
  border-radius: 25px;
  width: 300px;
  height: 300px;
  margin: 0.4vw 0;
  padding: 0.4vw;
}   

.tic-box {
 
  font-size: 5vw;
  color: var(--textall);
  text-align: center;
}

.tic-container {    
  background: var(--tbbg);
  height: 96%;    
}

.tic-box:hover {
  background:var(--hoverbg);
}

#tic-1, #tic-2, #tic-3 {
  border-bottom: solid var(--tbborder) 5px;   
}

#tic-2, #tic-5, #tic-8 {
  border-right: solid var(--tbborder) 5px;
  border-left: solid var(--tbborder) 5px;    
}

#tic-7, #tic-8, #tic-9 {
  border-top: solid var(--tbborder) 5px;    
}
